# TiDB Connection (TiDB Serverless hoặc TiDB Cloud)
TIDB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=d5qaVFr77fvoRGv.root
TIDB_PASSWORD=qvJbUao8sGQRtMbP
TIDB_DATABASE=vinahentai
TIDB_SSL=true

# Crawler Settings
CRAWLER_CONCURRENCY=3
CRAWLER_DELAY_MS=1500
CRAWLER_MAX_RETRIES=3
CRAWLER_START_PAGE=1
CRAWLER_END_PAGE=999

# Target site
TARGET_BASE_URL=https://vinahentai.me
